{% if itemQualityId %}
    {{ form_start(form, {method: 'POST', action: path('app_item_quality_edit', {itemQualityId: itemQualityId}), attr: {'id': 'modalForm'}}) }}
{% else %}
    {{ form_start(form, {method: 'POST', action: path('app_item_quality_add', {itemId: itemId}), attr: {'id': 'modalForm'}}) }}
{% endif %}
    <div class="row" data-controller="quality">
        <div class="col-12 mb-3">
            {{ form_row(form.file) }}
        </div>
        <div class="col-6 mb-3">
             {{ form_row(form.storage) }}
        </div>
        <div class="col-6 mb-3">
            {{ form_row(form.quality) }}
        </div>
        <div class="col-12">
            {{ form_label(form.criterias) }}
            <div class="mt-2 d-flex flex-wrap">
                <div class="form-check pe-0 col-6">
                    <input
                        id="item_quality_criterias_0"
                        class="form-check-input criteriaQuality"
                        type="checkbox"
                        name="perfect"
                        value="1"
                        {% if form.vars.value.quality == 10 and form.vars.value.criterias|length == 0 %}checked{% endif %}
                    >
                    <label class="form-check-label" for="item_quality_criterias_0" >Aucun défaut</label>
                </div>
                {% for childForm in form.criterias.children %}
                    <div class="form-check pe-0 col-6">
                        {{ form_widget(childForm, {'attr': {'class': 'form-check-input criteriaQuality'}}) }}   
                        <label class="form-check-label" for="{{ childForm.vars.id }}" >{{ childForm.vars.label }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{{ form_end(form) }}