{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container mt-5 center-screen" data-controller="modal">
        <div class="row mb-3 w-100">
            <div class="col d-flex justify-content-start p-0">
                <button
                    type="button"
                    class="btn btn-primary showModal rounded-0"
                    id="showModal"
                    data-url="{{ absolute_url(path('app_category_add')) }}"
                    data-title="Créer une nouvelle catégorie"
                >
                    Nouvelle catégorie
                </button>
            </div>
            <div class="col d-flex justify-content-end p-0">
                <div class="btn-group" role="group">
                    <a class="btn btn btn-outline-primary rounded-0" href="{{ path('app_collection') }}">
                        Collections
                    </a>
                    <a href="#" class="btn btn-primary disabled rounded-0">
                        Catégories
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for stat in stats %}
                <div class="col mb-4">
                    <div class="card text-uppercase rounded-0 text-start">
                        <div class="card-header text-bg-dark rounded-0 d-flex justify-content-between">
                            <h5 class="card-title mb-0">{{ stat.categoryName }}</h5>
                            <a class="text-white" href="{{absolute_url(path('app_category_view', {categoryId: stat.categoryId}))}}">
                                <i class="fa-solid fa-eye fa-xl eye-icon-white"></i>
                            </a>
                        </div>
                        <div class="card-body fs-5 text-bg-light p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-bg-light">Nombre total d'objets : <b>{{ stat.totalItem }}</b></li>
                                <li class="list-group-item text-bg-light">Montant total : <b class="text-success">{{ stat.totalAmount|format_currency('EUR', locale = 'fr') }} </b></li>
                                <li class="list-group-item text-bg-light">Montant moyen : <b class="text-success">{{ stat.average|format_currency('EUR', locale = 'fr') }} </b></li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <div class="btn-group" role="group">
                                <button
                                    data-url="{{ absolute_url(path('app_category_edit', {categoryId: stat.categoryId})) }}"
                                    data-title="{{ 'Modifier "' ~ stat.categoryName ~ '"' }}"
                                    class="btn btn-primary btn-sm showModal"
                                >
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <a href="{{ path('app_category_delete', {categoryId: stat.categoryId}) }}" class="btn btn-danger btn-sm">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}