{% extends 'base.html.twig' %}

{% block title %}{{ category.name|upper }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" data-controller="modal">
        <div class="card">
            <div class="card-header border-bottom-0 bg-white pb-0">
                <h1 class="text-center mb-5 fw-bold border-bottom border-2 pb-2">{{ category.name|upper }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col mb-3">
                        <button
                            type="button"
                            class="btn btn-primary showModal"
                            id="showModal"
                            data-url="{{ absolute_url(path('app_category_add_child', {parentId: category.id})) }}"
                            data-title="Créer une nouvelle catégorie"
                        >
                            Nouvelle catégorie
                        </button>
                    </div>
                </div>
                <div class="row mb-4">
                    {% for child, mostExpensive in mostExpensives %}
                        <div class="col-6">
                            <div class="card">
                                {% set childSplitted = child|split('_') %}
                                <div class="card-header bg-black bg-gradient d-flex justify-content-between">
                                    <h5 class="card-title color-title text-uppercase align-middle my-auto">LES 10 {{ childSplitted|first }} LES PLUS CHERS</h5>
                                    <div class="btn-group" role="group">
                                        <button
                                            data-url="{{ absolute_url(path('app_category_edit', {categoryId: childSplitted|last})) }}"
                                            data-title="{{ 'Modifier "' ~ childSplitted|first ~ '"' }}"
                                            class="btn btn-primary showModal"
                                        >
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <a href="{{ path('app_category_delete', {categoryId: childSplitted|last}) }}" class="btn btn-danger">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body rounded-0">
                                    <table class="table table-hover table-responsive align-middle">
                                        <thead>
                                            {% set hasRarities =  mostExpensive|length > 0 ? mostExpensive|first().rarityName is not null : false %}
                                            <tr>
                                                <th>Nom</th>
                                                {% if hasRarities %}<th>Rareté</th>{% endif %}
                                                <th>Prix</th>
                                                <th>Quantité</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for most in mostExpensive %}
                                                <tr>
                                                    <td>{{ most.name }}</td>
                                                    {% if hasRarities %}<td>{{ most.rarityName }}</td>{% endif %}
                                                    <td><b class="text-success">{{ most.price|format_currency('EUR', locale = 'fr') }}</b></td>
                                                    <td class="text-center"><b>{{ most.number }}</b></td>
                                                </tr>
                                            {% else %}
                                                <tr><td colspan="4" class="text-center fw-bold fs-1 text-danger">IL N'Y A PAS D'OBJET !</td></tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <h2 class="text-uppercase">Les critères par catégorie</h2>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-black bg-gradient d-flex justify-content-between">
                                <h5 class="card-title color-title text-uppercase align-middle my-auto">{{ category.name }}</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-responsive align-middle">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th>Point</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for criteria in category.criterias %}
                                            <tr>
                                                <td>{{ criteria.name }}</td>
                                                <td><b class="text-success">{{ criteria.description }}</b></td>
                                                <td class="text-center"><b>{{ criteria.point }}</b></td>
                                            </tr>
                                        {% else %}
                                            <tr><td colspan="4" class="text-center fw-bold fs-1 text-danger">IL N'Y A PAS DE CRITÈRES !</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}
