{% extends 'base.html.twig' %}

{% block title %}{{ category.name|upper }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid mt-container mx-4">
        <div class="card">
            <div class="card-header border-bottom-0 bg-white pb-0">
                <h1 class="text-center mb-5 fw-bold border-bottom border-2 pb-2">{{ category.name|upper }}</h1>
            </div>
            <div class="card-body">
                <div class="main-content">
                    <div class="row">
                        <div class="col-12 mb-3 px-0">
                            <button
                                type="button"
                                class="btn btn-primary showModal"
                                id="showModal"
                                data-url="{{ absolute_url(path('app_category_add_child', {parentId: category.id})) }}"
                                data-title="Créer une nouvelle catégorie"
                            >
                                Nouvelle catégorie
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0" data-masonry='{"percentPosition": true, "itemSelector": ".grid-item", "gutter": ".gutter-size"}'>
                            <div class="gutter-size" style="width: 4%">
                            </div>
                            {% for child, mostExpensive in mostExpensives %}
                                <div class="grid-item py-2" style="width:48%;">
                                    <div class="card border-black border-end-0 border-top-0">
                                        {% set childSplitted = child|split('_') %}
                                        <div class="card-header bg-black bg-gradient d-flex justify-content-between">
                                            <h5 class="card-title color-title text-uppercase align-middle my-auto py-1">LES 10 {{ childSplitted|first }} LES PLUS CHERS</h5>
                                            <div class="btn-group position-absolute top-0 end-0" role="group">
                                                <button
                                                    data-url="{{ absolute_url(path('app_category_edit', {categoryId: childSplitted|last})) }}"
                                                    data-title="{{ 'Modifier "' ~ childSplitted|first ~ '"' }}"
                                                    class="btn btn-primary btn-sm showModal"
                                                >
                                                    <i class="fa-solid fa-pen"></i>
                                                </button>
                                                <a href="{{ path('app_category_delete', {categoryId: childSplitted|last}) }}" class="btn btn-danger btn-sm removeElement" data-sweetAlert-title="Suppression de la catégorie" data-sweetAlert-text="Voulez-vous supprimer cette catégorie : {{ childSplitted|first|lower }} ?">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body rounded-0 border-end border-black ">
                                            <table class="table table-hover table-responsive align-middle">
                                                <thead>
                                                    {% set hasRarities =  mostExpensive|length > 0 ? mostExpensive|first().rarityName is not null : false %}
                                                    <tr>
                                                        <th>Nom</th>
                                                        {% if hasRarities %}<th>Rareté</th>{% endif %}
                                                        <th>Prix</th>
                                                        <th>Quantité</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for most in mostExpensive %}
                                                        <tr>
                                                            <td>{{ most.name }}</td>
                                                            {% if hasRarities %}<td>{{ most.rarityName }}</td>{% endif %}
                                                            <td><b class="text-success">{{ most.price|format_currency('EUR', locale = 'fr') }}</b></td>
                                                            <td class="text-center"><b>{{ most.number }}</b></td>
                                                        </tr>
                                                    {% else %}
                                                        <tr><td colspan="4" class="text-center fw-bold fs-1 text-danger">IL N'Y A PAS D'OBJET !</td></tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}
