{% extends 'base.html.twig' %}

{% block head %}
    {{ knp_pagination_rel_links(markets) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block title %}Boutiques/Marchés{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid mt-container mx-4">
        <div class="card h-100">
            <div class="card-header border-bottom-0 bg-white pb-0 px-0">
                <h1 class="text-center mb-5 fw-bold border-bottom border-2 pb-2">BOUTIQUES/MARCHÉS</h1>
            </div>
            <div class="card-body">
                <div class="main-content">
                    <div class="row mb-3">
                        <div class="col-12 px-0">
                            <button
                                type="button"
                                class="btn btn-primary showModal"
                                data-url="{{ absolute_url(path('app_market_add')) }}"
                                data-title="Nouvelle boutique"
                            >
                                Nouvelle boutique
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="col-12 table table-hover table-responsive text-center table-bordered border-black align-middle">
                            <thead class="table-dark border-dark">
                                <tr>
                                    <th>{{ knp_pagination_sortable(markets, 'Nom', 'm.name', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                                    <th>Site web</th>
                                    <th>Achats</th>
                                    <th>Vente</th>
                                    <th>Lien</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <form data-controller="filter" id="formFilter" action="{{ absolute_url(path('app_market_list')) }}" method="get">
                                        {% set filterQuery = request.query.all('filter') %}
                                        <th><input id="nameFilter" name="filter[name]" class="form-control input-table" type="text" value="{{ filterQuery.name ?? '' }}"></th>
                                        <th>
                                            <select id="isWebSiteFilter" name="filter[isWebSite]" class="form-select input-table">
                                                <option value="">---</option>
                                                <option
                                                    value="0"
                                                    {% if filterQuery.isWebSite is defined and filterQuery.isWebSite == 0 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Non
                                                </option>
                                                <option
                                                    value="1"
                                                    {% if filterQuery.isWebSite is defined and filterQuery.isWebSite == 1 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Oui
                                                </option>
                                            </select>
                                        </th>
                                        <th>
                                            <select id="forBuyFilter" name="filter[forBuy]" class="form-select input-table">
                                                <option value="">---</option>
                                                <option
                                                    value="0"
                                                    {% if filterQuery.forBuy is defined and filterQuery.forBuy == 0 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Non
                                                </option>
                                                <option
                                                    value="1"
                                                    {% if filterQuery.forBuy is defined and filterQuery.forBuy == 1 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Oui
                                                </option>
                                            </select>
                                        </th>
                                        <th>
                                            <select id="forSaleFilter" name="filter[forSale]" class="form-select input-table">
                                                <option value="">---</option>
                                                <option
                                                    value="0"
                                                    {% if filterQuery.forSale is defined and filterQuery.forSale == 0 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Non
                                                </option>
                                                <option
                                                    value="1"
                                                    {% if filterQuery.forSale is defined and filterQuery.forSale == 1 %}
                                                        selected
                                                    {% endif %}
                                                >
                                                    Oui
                                                </option>
                                            </select>
                                        </th>
                                        <th></th>
                                        <th>
                                            <a href="{{ path('app_market_list') }}" class="btn btn-secondary btn-sm rounded-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                                </svg>
                                            </a>
                                        </th>
                                    </form>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for market in markets %}
                                    <tr>
                                        <td>{{ market.name }}</td>
                                        <td>
                                            {% if market.isWebSite %}
                                                <i class="fa-solid fa-square-check"></i>
                                            {% else %}
                                                <i class="fa-solid fa-square-xmark"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if market.forBuy %}
                                                <i class="fa-solid fa-square-check"></i>
                                            {% else %}
                                                <i class="fa-solid fa-square-xmark"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if market.forSale %}
                                                <i class="fa-solid fa-square-check"></i>
                                            {% else %}
                                                <i class="fa-solid fa-square-xmark"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if market.link %}
                                                <a href="{{ market.link }}" target="_blank" class="btn btn-outline-primary btn-sm">
                                                    <i class="fa-solid fa-link"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button
                                                    class="btn btn-primary btn-sm showModal"
                                                    data-url="{{ path('app_market_edit', {marketId: market.id}) }}"
                                                    data-title='Modifier "{{ market.name }}"'
                                                    data-bs-toggle="tooltip"
                                                    data-bs-title="Modifier"
                                                >
                                                    <i class="fa-solid fa-pen"></i>
                                                </button>
                                                <a
                                                    href="{{ path('app_market_delete', {marketId: market.id}) }}"
                                                    class="btn btn-danger btn-sm removeElement"
                                                    data-sweetAlert-title="Suppression de la boutique"
                                                    data-sweetAlert-text="Voulez-vous supprimer cet boutique : {{ market.name|lower }} ?"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-title="Supprimer"
                                                >
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="6"><b class="text-danger fs-1">AUCUNE BOUTIQUES DISPONNIBLE !</b></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(markets) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}
