{% extends 'base.html.twig' %}

{% block title %}
    {% if id %}
        Modifier une carte
    {% else %}
        Ajouter une carte
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {% if id %}
            <h1 class="text-center my-5">Modifier un jeu</h1>
        {% else %}
            <h1 class="text-center my-5">Ajouter un jeu</h1>
        {% endif %}
        
        <div class="row w-50 mx-auto border p-4 bg-white">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.console) }}
                {{ form_row(form.price) }}
                {{ form_row(form.date) }}
                {{ form_row(form.quality) }}
                {{ form_row(form.number) }}
                {{ form_row(form.link) }}
                <div>
                    <a href="{{ path('app_game') }}" class="btn btn-secondary">Annuler</a>
                    {% if id %}
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
