{% if criteriaId %}
    {{ form_start(form, {method: 'POST', action: path('app_criteria_edit', {criteriaId: criteriaId}), attr: {'id': 'modalForm'}}) }}
{% else %}
    {{ form_start(form, {method: 'POST', action: path('app_criteria_add'), attr: {'id': 'modalForm'}}) }}
{% endif %}
    <div class="row">
        <div class="col-12 mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.point) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_label(form.categories) }}
            <div class="mt-2 row ps-3">
                {% for childForm in form.categories.children %}
                    <div class="form-check col-6 pe-0">
                        {{ form_widget(childForm, {'attr': {'class': 'form-check-input rounded-0'}}) }}   
                        <label class="form-check-label" for="{{ childForm.vars.id }}" >{{ childForm.vars.label }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.description) }}
        </div>
    </div>
{{ form_end(form) }}