{{ form_start(form, {method: 'POST', action: path('app_purchase_add'), attr: {'id': 'modalForm', 'data-controller': 'select', class: 'row'}}) }}
    <div class="col-12 mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="col-12 mb-3">
        {{ form_row(form.link) }}
    </div>
    <div class="col-6">
        {{ form_row(form.market) }}
    </div>
    <div class="col-6">
        {{ form_row(form.isOrder) }}
    </div>
{{ form_end(form) }}