{% for itemPurchase in itemPurchases %}
    {% set item = itemPurchase.item %}
    <tr>
        <td>{{ item.reference ? item.reference ~ ' - ' ~ item.name ~ ' (' ~ item.collection.name ~ ')' : item.name ~ ' (' ~ item.collection.name ~ ')' }}</td>
        <td>{{ itemPurchase.price|format_currency('EUR', locale='fr') }}</td>
        <td>{{ itemPurchase.quantity }}</td>
        <td>
            {% set state = '' %}
            {% if not itemPurchase.received and not itemPurchase.refundRequest %}
                {% set state = states|find((v, k) => k == 0) %}
                {% set bg = 'text-bg-secondary' %}
            {% else %}
                {% if itemPurchase.refunded or itemPurchase.received %}
                    {% set state = states|find((v, k) => k == 3) %}
                    {% set bg = 'text-bg-success' %}
                {% else %}
                    {% set iPNotRefundedLength = itemPurchase.itemPurchases|filter(v => v.refunded)|length %}
                    {% set iPReceivedLength = itemPurchase.itemPurchases|filter(v => v.received)|length %}
                    {% if iPNotRefundedLength == 0 or iPReceivedLength == 0 %}
                        {% set state = states|find((v, k) => k == 1) %}
                        {% set bg = 'text-bg-danger' %}
                    {% endif %}
                {% endif %}
                
            {% endif %}
            <span class="badge rounded-pill {{ bg }}">{{ state }}</span>
        </td>
        <td>{{ itemPurchase.link }}</td>
        <td></td>
    </tr>
{% else %}
    <tr><td colspan="6"><b class="text-danger fs-1">AUCUN OBJET DISPONNIBLE !</b></td></tr>
{% endfor %}
