{% for itemPurchase in itemPurchases %}
    {% set item = itemPurchase.item %}
    <tr>
        <td>{{ item.choiceLabel }}</td>
        <td>{{ itemPurchase.price|format_currency('EUR', locale='fr') }}</td>
        <td>{{ itemPurchase.quantity }}</td>
        <td>
            {% set state = '' %}
            {% if not itemPurchase.received and not itemPurchase.refundRequest %}
                {% set state = states|find((v, k) => k == 0) %}
                {% set bg = 'text-bg-secondary' %}
            {% else %}
                {% if itemPurchase.refundRequest and not itemPurchase.refunded %}
                    {% set state = states|find((v, k) => k == 1) %}
                    {% set bg = 'text-bg-danger' %}
                {% else %}
                    {% if itemPurchase.refunded %}
                        {% set state = states|find((v, k) => k == 2) %}
                    {% else %}
                        {% set state = states|find((v, k) => k == 3) %}
                    {% endif %}
                    {% set bg = 'text-bg-success' %}
                {% endif %}
                
            {% endif %}
            <span class="badge rounded-pill {{ bg }}">{{ state }}</span>
        </td>
        <td>
            {% if itemPurchase.link %}
                <a href="{{ itemPurchase.link }}" target="_blank" class="btn btn-outline-primary btn-sm">
                    <i class="fa-solid fa-link"></i>
                </a>
            {% endif %}
        </td>
        <td>
            <div class="btn-group">
                {% if not itemPurchase.received and not itemPurchase.refundRequest %}
                    <button
                        class="btn btn-sm btn-success showModal"
                        data-title='Réception de "{{ item.choiceLabel }}"'
                        data-class="received"
                        data-submit-url="{{ absolute_url(path('app_item_purchase_state', {itemPurchaseId: itemPurchase.id})) }}"
                        data-state="received"
                    >
                        <i class="fa-solid fa-check"></i>
                    </button>
                {% endif %}
                {% if not itemPurchase.refundRequest %}
                    <button
                        class="btn btn-sm btn-danger showModal"
                        data-title='Remboursement de "{{ item.choiceLabel }}"'
                        data-class="refundRequestIP"
                        data-submit-url="{{ absolute_url(path('app_item_purchase_state', {itemPurchaseId: itemPurchase.id})) }}"
                        data-state="refundRequest"
                    >
                        <i class="fa-solid fa-reply"></i>
                    </button>
                {% elseif not itemPurchase.refunded %}
                    <button
                        class="btn btn-sm btn-success showModal"
                        data-title='Objet "{{ item.choiceLabel }}" remboursé'
                        data-class="refunded"
                        data-submit-url="{{ absolute_url(path('app_item_purchase_state', {itemPurchaseId: itemPurchase.id})) }}"
                        data-state="refunded"
                    >
                        <i class="fa-solid fa-check"></i>
                    </button>
                {% endif %}
            </div>
        </td>
    </tr>
{% else %}
    <tr><td colspan="6"><b class="text-danger fs-1">AUCUN OBJET DISPONNIBLE !</b></td></tr>
{% endfor %}
