{% extends 'base.html.twig' %}

{% block title %}Rangements{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container mt-5 pt-5" data-controller="modal">
        <div class="card">
            <div class="card-header border-bottom-0 bg-white pb-0">
                <h1 class="text-center fw-bold border-bottom border-2 pb-2">RANGEMENTS</h1>
            </div>
            <div class="card-body">
                <div class="row mb-3 w-100">
                    <div class="d-flex">
                        <button
                            type="button"
                            class="btn btn-primary showModal me-3"
                            id="showModal"
                            data-url="{{ absolute_url(path('app_storage_add')) }}"
                            data-title="Ajouter un nouveau rangement"
                        >
                            Nouveau rangement
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary showModal"
                            id="showModal"
                            data-url="{{ absolute_url(path('app_storage_type_add')) }}"
                            data-title="Ajouter un nouveau type"
                        >
                            Nouveau type
                        </button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                    {% for stat in stats %}
                        <div class="col mb-4">
                            <div class="card text-uppercase border-black border-end-0 border-top-0">
                                <div class="card-header bg-black bg-gradient d-flex justify-content-between">
                                    <h5 class="card-title mb-0 color-title py-1">{{ stat.storageName }}</h5>
                                    <div class="btn-group position-absolute top-0 end-0" role="group">
                                        <a class="btn btn-outline-primary btn-sm" href="{{ path('app_storage_view', {storageId: stat.storageId}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <button
                                            data-url="{{ absolute_url(path('app_storage_edit', {storageId: stat.storageId})) }}"
                                            data-title="{{ 'Modifier "' ~ stat.storageName ~ '"' }}"
                                            class="btn btn-primary btn-sm showModal"
                                        >
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <a href="{{ path('app_storage_delete', {storageId: stat.storageId}) }}" class="btn btn-danger btn-sm removeElement" data-sweetAlert-title="Suppression de le rangement" data-sweetAlert-text="Voulez-vous supprimer ce rangement : {{ stat.storageName|lower }} ?">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body fs-5 p-0 text-center border-end border-black">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item border-black d-flex py-0">
                                            <div class="w-50 border-end border-black py-2">Nombre d'objets</div>
                                            <b class="w-50 align-self-center">{{ stat.totalItem }} {% if stat.capacity %}/ {{ stat.capacity }}{% endif %}</b>
                                        </li>
                                        <li class="list-group-item border-black d-flex py-0">
                                            <div class="w-50 border-end border-black py-2">Montant total</div>
                                            <b class="w-50 align-self-center text-success">{{ stat.totalAmount|format_currency('EUR', locale = 'fr') }}</b>
                                        </li>
                                        <li class="list-group-item border-black d-flex py-0">
                                            <div class="w-50 border-end border-black py-2">Montant moyen</div>
                                            <b class="w-50 align-self-center text-success">{{ stat.average|format_currency('EUR', locale = 'fr') }}</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer text-start d-flex justify-content-between border-black border-end text-lowercase">
                                    <i class="align-content-center fw-semibold">{{ stat.type }}</i>
                                    {% if stat.full %}
                                        <b class="text-danger-emphasis">Remplis !</b>
                                    {% elseif stat.totalItem > 0 %}
                                        <b class="text-warning-emphasis">Partiellement remplis</b>
                                    {% else %}
                                        <b class="text-secondary-emphasis">Vide</b>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}
