{% if collectionId %}
    {{ form_start(form, {method: 'POST', action: path('app_collection_edit', {collectionId: collectionId}), attr: {'id': 'modalForm', 'class': 'row', 'data-controller': 'select'}}) }}
{% else %}
    {{ form_start(form, {method: 'POST', action: path('app_collection_add'), attr: {'id': 'modalForm', 'class': 'row', 'data-controller': 'select'}}) }}
{% endif %}
    <div class="col-6 mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="col-6 mb-3">
        {{ form_row(form.category, {attr: {'data-ajax--url': absolute_url(path('app_category_search', {onlyParent: 1}))}}) }}
    </div>
    <div class="col-12 mb-3">
        {{ form_row(form.file) }}
        {% if file %}
            <div class="mt-2">
                <h6>Logo actuel</h6>
                <div class="w-75 mx-auto border border-black bg-light p-2">
                    <img class="mw-100" src="{{ file_encoded(file) }}">
                </div>
            </div>
        {% endif %}            
    </div>
    <div class="col-6 mb-3">
        {{ form_row(form.hasRarities) }}
    </div>
    {% if collectionId %}
        <div class="col-6 mb-3">
            {{ form_row(form.complete) }}
        </div>
    {% endif %}
{{ form_end(form) }}