{% if collectionId %}
    {{ form_start(form, {method: 'POST', action: path('app_collection_edit', {collectionId: collectionId}), attr: {'id': 'modalForm'}}) }}
{% else %}
    {{ form_start(form, {method: 'POST', action: path('app_collection_add'), attr: {'id': 'modalForm'}}) }}
{% endif %}
    <div class="row" data-controller="btn-category">
        <div class="col-6 mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="col-6 mb-3">
            {{ form_row(form.category) }}
        </div>
        <div class="col-12 mb-3">
            <button id="newCategoryBtn" class="btn btn-primary rounded-0" type="button">Nouvelle catégorie</button>
            <div id="newCategory" class="d-none">
                <div class="w-75">
                    <label class="form-label" for="collection_newCategory">Nom de la catégorie</label>
                    <input type="text" id="collection_newCategory" name="newCategory" class="form-control rounded-0">
                </div>
                <button id="newCategoryCancel" type="button" class="btn btn-danger btn-sm align-self-end mb-1 ms-3 rounded-0"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
{{ form_end(form) }}