{% extends 'base.html.twig' %}

{% block title %}{{ collection.name|capitalize }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" data-controller="modal">
        <div class="row">
            <div class="card">
                <div class="card-header border-bottom-0 bg-white pb-0 text-center" style="height:120px;">
                    {% if collection.file %}
                            <div class="border-bottom border-2 pb-2 h-100">
                                <img class="h-100" src="{{ file_encoded(collection.file) }}">
                            </div>
                    {% else %}
                        <h1 class="fw-bold border-bottom border-2 pb-2">{{ collection.name|upper }}</h1>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div>
                            <button
                                type="button"
                                class="btn btn-primary showModal"
                                id="showModal"
                                data-url="{{ absolute_url(path('app_category_add_child', {parentId: collection.category.id})) }}"
                                data-title="Créer une nouvelle catégorie"
                            >
                                Nouvelle catégorie
                            </button>
                        </div>
                    </div>
                    <div class="row mb-4" data-masonry='{"percentPosition": true }'>
                        {% set hasRarities = collection.hasRarities %}
                        {% for category, mostExpensive in mostExpensives %}
                            <div class="col-6 py-3">
                                <div class="card border-black border-end-0 border-top-0">
                                    {% set categorySplitted = category|split('_') %}
                                    <div class="card-header bg-black bg-gradient d-flex justify-content-between">
                                        <h5 class="card-title color-title text-uppercase align-middle my-auto py-1">LES 10 {{ categorySplitted|first }} LES PLUS CHERS</h5>
                                        <div class="btn-group position-absolute top-0 end-0" role="group">
                                            <a class="btn btn-outline-primary btn-sm" href="{{absolute_url(path('app_item_list', {collectionId: collection.id, categoryId: categorySplitted|last}))}}">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <button
                                                data-url="{{ absolute_url(path('app_category_edit', {categoryId: categorySplitted|last})) }}"
                                                data-title="{{ 'Modifier "' ~ categorySplitted|first ~ '"' }}"
                                                class="btn btn-primary btn-sm showModal"
                                            >
                                                <i class="fa-solid fa-pen"></i>
                                            </button>
                                            <a href="{{ path('app_category_delete', {categoryId: categorySplitted|last}) }}" class="btn btn-danger btn-sm removeElement" data-sweetAlert-title="Suppression de la catégorie" data-sweetAlert-text="Voulez-vous supprimer cette catégorie : {{ categorySplitted|first|lower }} ?">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body border-end border-black">
                                        <table class="table table-hover table-responsive align-middle">
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    {% if hasRarities %}<th>Rareté</th>{% endif %}
                                                    <th>Prix</th>
                                                    <th class="text-center">Quantité</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for most in mostExpensive %}
                                                    <tr>
                                                        <td>{{ most.name|capitalize }}</td>
                                                        {% if hasRarities %}<td>{{ most.rarityName|capitalize  }}</td>{% endif %}
                                                        <td><b class="text-success">{{ most.price|format_currency('EUR', locale = 'fr') }}</b></td>
                                                        <td class="text-center"><b>{{ most.number }}</b></td>
                                                    </tr>
                                                {% else %}
                                                    <tr><td colspan="4" class="text-center fw-bold fs-1 text-danger">IL N'Y A PAS D'OBJET !</td></tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if statRarities %}
                        <div class="row mb-4">
                                <div class="col">
                                    <div class="card border-black border-end-0 border-top-0">
                                        <div class="card-header bg-black bg-gradient">
                                            <h5 class="card-title color-title">RARETÉS</h5>
                                            <div class="btn-group position-absolute top-0 end-0" role="group">
                                                <button
                                                    data-url="{{ absolute_url(path('app_rarity_add', {collectionId: collection.id})) }}"
                                                    data-title="{{ 'Ajouter une rareté' }}"
                                                    class="btn btn-primary btn-sm showModal"
                                                >
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body border-end border-black">
                                            <table class="table table-hover table-responsive align-middle">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Icône</th>
                                                        <th>Niveau de rareté</th>
                                                        <th>Total</th>
                                                        <th>Montant total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for rarity in statRarities %}
                                                        <tr>
                                                            <td>{{ rarity.rarityName|capitalize }}</td>
                                                            <td>{% if rarity.fileId %}<img src="{{ file_encoded(rarity.fileId) }}">{% endif %}</td>
                                                            <td>{{ rarity.grade }}</td>
                                                            <td>{{ rarity.totalItem ?? 0 }}</td>
                                                            <td><b class="text-success">{{ rarity.totalAmount|format_currency('EUR', locale = 'fr') }}</b></td>
                                                            <td>
                                                                <div class="btn-group" role="group">
                                                                    <button
                                                                        data-url="{{ absolute_url(path('app_rarity_edit', {rarityId: rarity.id})) }}"
                                                                        data-title="{{ 'Modifier "' ~ rarity.rarityName ~ '"' }}"
                                                                        class="btn btn-primary btn-sm showModal"
                                                                    >
                                                                        <i class="fa-solid fa-pen"></i>
                                                                    </button>
                                                                    <a href="{{ path('app_rarity_delete', {rarityId: rarity.id}) }}" class="btn btn-danger btn-sm removeElement" data-sweetAlert-title="Suppression de la rareté" data-sweetAlert-text="Voulez-vous supprimer cette rareté : {{ rarity.rarityName|lower }} ?">
                                                                        <i class="fa-solid fa-trash-can"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr><td colspan="6" class="text-center fw-bold fs-1 text-danger">IL N'Y A PAS DE RARETÉ !</td></tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}
