{% if itemSaleId %}
    {{ form_start(form, {method: 'POST', action: path('app_item_sale_edit', {itemSaleId: itemSaleId}), attr: {'id': 'modalForm', 'data-controller': 'select'}}) }}
{% else %}
    {{ form_start(form, {method: 'POST', action: path('app_item_sale_new'), attr: {'id': 'modalForm', 'data-controller': 'select'}}) }}
{% endif %}
    <div class="row">
        <div class="col-12 mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.price) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.link) }}
        </div>
        <div class="col-12">
            {{ form_row(form.itemQualities, {attr: {'data-ajax--url': absolute_url(path('app_item_quality_search', {notSale: 1}))}}) }}
        </div>
        {% if form.sold is defined %}
            <div class="col-12 mt-3">
                {{ form_row(form.sold) }}
            </div>
        {% endif %}
    </div>
{{ form_end(form) }}