{% for itemSale in itemSales %}
    <tr>
        <td>{{ itemSale.itemQuality.choiceLabel }}</td>
        <td>{{ itemSale.price|format_currency('EUR', locale='fr') }}</td>
        <td>
            {% set state = '' %}
            {% if itemSale.refundRequest %}
                {% if not itemSale.refunded %}
                    {% set state = states|find((v, k) => k == 2) %}
                    {% set bg = 'text-bg-danger' %}
                {% elseif itemSale.refunded %}
                    {% set state = states|find((v, k) => k == 3) %}
                    {% set bg = 'text-bg-success' %}
                {% endif %}
            {% elseif itemSale.sale.sold %}
                {% if itemSale.sale.isOrder %}
                    {% if not itemSale.sale.send %}
                        {% set state = states|find((v, k) => k == 1) %}
                        {% set bg = 'text-bg-info' %}
                    {% else %}
                        {% set state = states|find((v, k) => k == 4) %}
                        {% set bg = 'text-bg-success' %}
                    {% endif %}
                {% else %}
                    {% set state = states|find((v, k) => k == 5) %}
                    {% set bg = 'text-bg-success' %}
                {% endif %}
            {% else %}
                {% set state = states|find((v, k) => k == 0) %}
                {% set bg = 'text-bg-info' %}
            {% endif %}
        </td>
        <td>
            {% if itemSale.sale.sold %}
                <div class="btn-group" role="group">
                    {% if itemSale.sale.isOrder and not itemSale.send and not itemSale.refundRequest %}
                        <button
                            class="btn btn-sm btn-success showModal"
                            data-title='"{{ itemSale.itemQuality.choiceLabel }}" envoyé'
                            data-class="send"
                            data-submit-url="{{ absolute_url(path('app_item_sale_state', {itemSaleId: itemSale.id})) }}"
                            data-state="send"
                        >
                            <i class="fa-solid fa-check"></i>
                        </button>
                    {% endif %}
                    {% if not itemSale.refundRequest %}
                        <button
                            class="btn btn-sm btn-danger showModal"
                            data-title='Remboursement de "{{ itemSale.itemQuality.choiceLabel }}"'
                            data-class="refundRequest"
                            data-submit-url="{{ absolute_url(path('app_item_sale_state', {itemSaleId: itemSale.id})) }}"
                            data-state="refundRequest"
                        >
                            <i class="fa-solid fa-reply"></i>
                        </button>
                    {% elseif not itemSale.refunded %}
                        <button
                            class="btn btn-sm btn-success showModal"
                            data-title='"{{ itemSale.itemQuality.choiceLabel }}" remboursé'
                            data-class="refunded"
                            data-submit-url="{{ absolute_url(path('app_item_sale_state', {itemSaleId: itemSale.id})) }}"
                            data-state="refunded"
                        >
                            <i class="fa-solid fa-check"></i>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr><td colspan="9">Il n'y a pas de Vente.</td></tr>
{% endfor %}