{% set pathInfo = app.request.pathInfo %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {% if collection is defined and collection %}
                {{ encore_entry_link_tags('canvas') }}
                {{ encore_entry_link_tags('dropdown') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/9f4d626518.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body class="bg-light d-flex min-vh-100">
        {% block body %}
                <nav class="navbar bg-light px-2 fixed-top justify-content-center" data-controller="global">
                    {% if collection is defined and collection %}
                        <button class="navbar-toggler rounded-0 ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header border-bottom bg-black bg-gradient" data-bs-theme="dark">
                                <h5 class="offcanvas-title fw-bold color-title" id="offcanvasNavbarLabel">CATÉGORIES</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body px-0">
                                {{ render(path('app_category_nav', {collectionId: collection.id, categoryId: collection.category.id})) }}
                            </div>
                        </div>
                        {{ render(path('app_collection_dropdown', {collectionId: collection.id})) }}
                    {% endif %}
                    <form id="searchForm" class="w-50 d-flex justify-content-center" role="search" action="{{ path('app_item_search', {searchBar: 1}) }}" method="GET">
                        <div class="w-75 position-relative">
                            <input id="search" class="form-control" type="search" name="search" placeholder="Rechercher" aria-label="Rechercher" style="--bs-focus-ring-color: rgba(var(--bs-black-rgb), .25)">
                            <ul id="searchResult" class="list-result position-absolute top-100 start-0 end-0 z-3 p-0 overflow-y-scroll border border-black bg-white" style="display:none;">
                            </ul>
                        </div>
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </nav>
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-white border border-right nav-side">
                    <h3 class="d-flex align-items-center pb-3 mb-3 border-bottom">Collectors</h3>
                    <ul class="navbar-nav text-uppercase fw-semibold flex-column">
                        <li class="nav-item">
                            <a class="nav-link{{ pathInfo == '/' ? ' disabled navbar-active' : ' navbar-link' }}" href="{{ path('app_collection') }}">
                                Collections
                            </a>
                            <div class="{{ pathInfo == '/' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ pathInfo == '/storage' ? ' disabled navbar-active' : ' navbar-link' }}" href="{{ path('app_storage_list') }}">
                                Rangements
                            </a>
                            <div class="{{ pathInfo == '/storage' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_category_list') }}" class="nav-link{{ pathInfo == '/category' ? ' disabled navbar-active' : ' navbar-link' }}">
                                Catégories
                            </a>
                            <div class="{{ pathInfo == '/category' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_criteria_list') }}" class="nav-link{{ pathInfo == '/criteria' ? ' disabled navbar-active' : ' navbar-link' }}">
                                Critères
                            </a>
                            <div class="{{ pathInfo == '/criteria' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_sale_list') }}" class="nav-link{{ pathInfo == '/item/sale' ? ' disabled navbar-active' : ' navbar-link' }}">
                                Ventes
                            </a>
                            <div class="{{ pathInfo == '/item/sale' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_purchase_list') }}" class="nav-link{{ pathInfo == '/purchase' ? ' disabled navbar-active' : ' navbar-link' }}">
                                Achats
                            </a>
                            <div class="{{ pathInfo == '/purchase' ? 'navbar-border-active' : 'navbar-border-hover mx-auto' }}"></div>
                        </li>
                    </ul>
                </div>
            {% if collection is defined or category is defined or item is defined or storage is defined or sale is defined or purchase is defined %}
                <nav class="breadcrumb-position" aria-label="breadcrumb">
                    <ol class="breadcrumb fw-semibold">
                        {% if storage is defined and storage %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color"
                                    href="{{ path('app_storage_list') }}"
                                >
                                    Rangements
                                </a>
                            </li>
                        {% elseif collection is defined or item is defined %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color"
                                    href="{{ path('app_collection') }}"
                                >
                                    Collections
                                </a>
                            </li>
                        {% elseif category is defined %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color"
                                    href="{{ path('app_category_list') }}"
                                >
                                    Catégories
                                </a>
                            </li>
                        {% elseif sale is defined %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color icon-link"
                                    href="{{ path('app_sale_list') }}"
                                >
                                    Ventes
                                </a>
                            </li>
                        {% elseif purchase is defined %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color icon-link"
                                    href="{{ path('app_purchase_list') }}"
                                >
                                    Achats
                                </a>
                            </li>
                        {% endif %}
                        {% if storage is defined and storage %}
                            <li class="breadcrumb-item">
                                {{ storage.name }}
                            </li>
                        {% elseif sale is defined and sale %}
                            <li class="breadcrumb-item">
                                {{ sale.name }}
                            </li>
                        {% elseif purchase is defined and purchase %}
                            <li class="breadcrumb-item">
                                {{ purchase.name }}
                            </li>
                        {% elseif (category is defined and collection is defined) or item is defined %}
                            {% if item is defined %}
                                {% set collection = item.collection %}
                            {% endif %}
                            <li class="breadcrumb-item">
                                <a
                                    class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color"
                                    href="{{ path('app_collection_view', {collectionId: collection.id}) }}"
                                >
                                    {{ collection.name }}
                                </a>
                            </li>
                            {% if item is defined %}
                                <li class="breadcrumb-item">
                                    <a 
                                        class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover breadcrumb-color"
                                        href="{{ path('app_item_list', {collectionId: collection.id, categoryId: item.category.id}) }}"
                                    >
                                        {{ item.category.name }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                            {% endif %}
                        {% elseif category is defined %}
                            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ collection.name }}</li>
                        {% endif %}
                    </ol>
                </nav>
            {% endif %}
        {% endblock %}
    </body>
</html>
