{% extends 'base.html.twig' %}

{% block title %}{{ collection.name|upper }}{% endblock %}

{% block body %}
    {{ parent() }}

    <h1 class="my-5 text-center">{{ collection.name|upper }}</h1>

    <div class="container">
        <div class="row mb-4">
            {% for category, mostExpensive in mostExpensives %}
                <div class="col-6">
                    <div class="card rounded-0">
                        {% set categorySplitted = category|split('_') %}
                        <div class="card-header rounded-0 bg-black bg-gradient d-flex justify-content-between">
                            <h5 class="card-title color-title text-uppercase align-middle my-auto">LES 10 {{ categorySplitted|first }} LES PLUS CHERS</h5>
                            <a class="btn btn-primary" href="{{ path('app_item_list', {collectionId: collection.id, categoryId: categorySplitted|last}) }}">VOIR PLUS</a>
                        </div>
                        <div class="card-body rounded-0 bg-light">
                            <table class="table table-light table-hover table-responsive align-middle">
                                <thead>
                                    {% set hasRarities = collection.rarities|length > 0 %}
                                    <tr>
                                        <th>Nom</th>
                                        {% if hasRarities %}<th>Rareté</th>{% endif %}
                                        <th>Prix</th>
                                        <th>Quantité</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for most in mostExpensive %}
                                        <tr>
                                            <td>{{ most.name }}</td>
                                            {% if hasRarities %}<td>{{ most.rarityName }}</td>{% endif %}
                                            <td><b class="text-success">{{ most.price|format_currency('EUR', locale = 'fr') }}</b></td>
                                            <td><b>{{ most.number }}</b></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if statRarities is defined %}
            <div class="row mb-4">
                    <div class="col">
                        <div class="card rounded-0">
                            <div class="card-header rounded-0 bg-black bg-gradient">
                                <h5 class="card-title color-title">PAR RARETÉ</h5>
                            </div>
                            <div class="card-body rounded-0 bg-light">
                                <table class="table table-light table-hover table-responsive align-middle">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Total</th>
                                            <th>Montant total</th>
                                            <th>Moyenne</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rarity in statRarities %}
                                            <tr>
                                                <td>{{ rarity.rarityName }}</td>
                                                <td>{{ rarity.totalItem }}</td>
                                                <td><b class="text-success">{{ rarity.totalAmount|format_currency('EUR', locale = 'fr') }}</b></td>
                                                <td><b class="text-success">{{ rarity.average|format_currency('EUR', locale = 'fr') }}</b></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
