{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {{ parent() }}

    <h1 class="my-5 text-center">DASHBOARD</h1>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {% for stat in stats %}
                <div class="col mb-4">
                    <div class="card text-uppercase">
                        <div class="card-header text-bg-dark">
                            <h5 class="card-title">{{ stat.collectionName }}</h5>
                        </div>
                        <div class="card-body fs-5 text-bg-light">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-bg-light">Nombre total d'objets : <b>{{ stat.totalItem }}</b></li>
                                <li class="list-group-item text-bg-light">Montant total : <b class="text-success">{{ stat.totalAmount|format_currency('EUR', locale = 'fr') }} </b></li>
                                <li class="list-group-item text-bg-light">Montant moyen : <b class="text-success">{{ stat.average|format_currency('EUR', locale = 'fr') }} </b></li>
                            </ul>
                        </div>
                        <div class="card-footer text-end">
                            <a class="btn btn-primary" href="{{absolute_url(path('app_stat_collection', {collectionId: stat.collectionId}))}}">
                                Voir plus
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
