{% extends 'base.html.twig' %}
{% block head %}
{{ knp_pagination_rel_links(cards) }}
{% endblock %}

{% block title %}{{ collection.name }}{% endblock %}

{% block body %}
<div class="mx-5" data-controller="modal">
    {{ parent() }}
    <div class="row mt-5">
        <h1 class="text-center my-5">{{ collection.name|upper }}</h1>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <button type="button" class="btn btn-primary showModal" id="showModal" data-url="{{ absolute_url(path('app_item_add', {collectionId: collection.id})) }}" data-title="Ajouter un objet">Ajouter</button>
        </div>
    </div>
    <div class="row mt-2">
        <table class="col-12 table table-hover table-responsive text-center table-bordered border-black align-middle">
            <thead class="table-dark border-dark">
                {% set hasRarities = collection.rarities|length > 0 %}
                <tr>
                    <th>{{ knp_pagination_sortable(items, 'Nom', 'i.name', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>{{ knp_pagination_sortable(items, 'Référence', 'i.reference', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    {% if hasRarities %}
                        <th>{{ knp_pagination_sortable(items, 'Rareté', 'r.grade', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    {% endif %}
                    <th>{{ knp_pagination_sortable(items, 'Prix', 'i.price', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>{{ knp_pagination_sortable(items, 'Ajouté/Modifié le', 'i.updatedAt', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>{{ knp_pagination_sortable(items, 'Qualité', 'i.quality', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th style="width:10%;">{{ knp_pagination_sortable(items, 'Nombre', 'i.number', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>Lien</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <form data-controller="item" id="formFilter" action="{{ absolute_url(path('app_item_list', {collectionId: collection.id})) }}" method="get">
                        {% set filterQuery = request.query.all('filter') %}
                        <th><input id="nameFilter" name="filter[name]" class="form-control" type="text" value="{{ filterQuery.name ?? '' }}"></th>
                        <th><input id="referenceFilter" name="filter[reference]" class="form-control" type="text" value="{{ filterQuery.reference ?? '' }}"></th>
                        {% if hasRarities %}
                            <th>
                                <select id="rarityFilter" name="filter[rarity]" class="form-control">
                                    <option value="">---</option>
                                    {% for rarity in collection.rarities %}
                                        <option value="{{ rarity.id }}" {% if filterQuery.rarity is defined and filterQuery.rarity == rarity.id %}selected{% endif %}>{{ rarity.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        {% endif %}
                        <th>
                            <select id="priceFilter" name="filter[price]" class="form-control">
                                <option value="">---</option>
                                {% for priceKey, priceValue in prices %}
                                    <option value="{{ priceKey }}" {% if filterQuery.price is defined and filterQuery.price == priceKey %}selected{% endif %}>{{ priceValue }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                        </th>
                        <th>
                            <select id="qualityFilter"name="filter[quality]" class="form-control">
                                <option value="">---</option>
                                {% set qualityDefined = filterQuery.quality is defined %}
                                <option value="10" {% if qualityDefined and filterQuery.quality == '10' %}selected{% endif %}>Excellente</option>
                                <option value="8-9" {% if qualityDefined and filterQuery.quality == '8-9' %}selected{% endif %}>Très bonne</option>
                                <option value="6-7" {% if qualityDefined and filterQuery.quality == '6-7' %}selected{% endif %}>Bonne</option>
                                <option value="5" {% if qualityDefined and filterQuery.quality == '5' %}selected{% endif %}>Passable</option>
                                <option value="3-4" {% if qualityDefined and filterQuery.quality == '3-4' %}selected{% endif %}>Légèrement usée</option>
                                <option value="1-2" {% if qualityDefined and filterQuery.quality == '1-2' %}selected{% endif %}>Usée</option>
                                <option value="0" {% if qualityDefined and filterQuery.quality == '0' %}selected{% endif %}>Abimé</option>
                            </select>
                        </th>
                        <th>
                            <select id="numberFilter" name="filter[number]" class="form-control">
                                <option value="">---</option>
                                {% set numberDefined = filterQuery.number is defined %}
                                <option value="1" {% if numberDefined and filterQuery.number == 1 %}selected{% endif %}>Plusieurs exemplaires</option>
                                <option value="0" {% if numberDefined and filterQuery.number is not null and filterQuery.number == 0 %}selected{% endif %}>Un seul exemplaire</option>
                            </select>
                        </th>
                        <th></th>
                        <th>
                            <a href="{{ path('app_item_list', {collectionId: collection.id}) }}" class="btn btn-secondary btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </a>
                        </th>
                    </form>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in items %}
                    {% if item.quality == 10 %}
                        {% set qualityName = 'Excellente' %}
                    {% endif %}
                    {% if item.quality in range(8,9) %}
                        {% set qualityName = 'Très bonne' %}
                    {% endif %}
                    {% if item.quality in range(6,7) %}
                        {% set qualityName = 'Bonne' %}
                    {% endif %}
                    {% if item.quality == 5 %}
                        {% set qualityName = 'Passable' %}
                    {% endif %}
                    {% if item.quality in range(3,4) %}
                        {% set qualityName = 'Légèrement usée' %}
                    {% endif %}
                    {% if item.quality in range(1,2) %}
                        {% set qualityName = 'Usée' %}
                    {% endif %}
                    {% if item.quality == 0 %}
                        {% set qualityName = 'Abimé' %}
                    {% endif %}
                    
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.reference }}</td>
                        {% if hasRarities %}
                            <td>{{ item.rarity.name }}</td>
                        {% endif %}
                        <td>{{ item.price|format_currency('EUR', locale='fr') }}</td>
                        <td>{{ item.updatedAt ? item.updatedAt|date('d/m/Y') : item.createdAt|date('d/m/Y') }}</td>
                        <td>{{ qualityName }}</td>
                        <td style="width:2%;">{{ item.number }}</td>
                        <td>
                            {% if item.link %}
                                <a href="{{ item.link }}" target="_blank" class="btn btn-outline-primary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <button data-url="{{ absolute_url(path('app_item_edit', {collectionId: collection.id, itemId: item.id})) }}" data-title="{{ 'Modifier "' ~ item.name ~ '"' }}" class="btn btn-primary btn-sm showModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                </svg>
                            </button>
                            {# <a href="{{ path('delete_item', {id: item.id}) }}" class="btn btn-danger btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a> #}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="9">Il n'y a pas de carte.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
    {% include "Modal/modal.html.twig" %}
</div>
{% endblock %}