{% extends 'base.html.twig' %}
{% block head %}
{{ knp_pagination_rel_links(items) }}
{% endblock %}

{% block title %}{{ collection ? collection.name : storage.name }}{% endblock %}

{% block body %}
{% if collection %}
    {% set route = 'app_item_list' %}
    {% set params = {collectionId: collection.id, categoryId: category.id} %}
{% else %}
    {% set route = 'app_storage_item_list' %}
    {% set params = {storageId: storage.id} %}
{% endif %}
{{ parent() }}
<div class="mx-5" {% if collection %}data-controller="modal"{% endif %}>
    <div class="row mb-5">
        <h1 class="text-center">{{ collection ? collection.name|upper  : storage.name|upper }}</h1>
    </div>
    <div class="row my-2">
            {% if collection %}
                <div class="col-12 p-0">
                    <button 
                        type="button"
                        class="btn btn-primary showModal rounded-0"
                        id="showModal"
                        data-url="{{ absolute_url(path('app_item_add', {collectionId: collection.id})) }}"
                        data-title="Ajouter un objet"
                    >
                        Ajouter
                    </button>
                </div>
            {% elseif storage %}
                {% if not storage.full %}
                    <div class="col-4 p-0 position-relative">
                        <input
                            id="addItem"
                            name="item"
                            class="form-control rounded-0 border-black"
                            type="search"
                            role="search"
                            data-url="{{ absolute_url(path('app_item_search', {storage: storage.id})) }}"
                            placeholder="Ajouter un objet"
                        >
                        <ul
                            id="itemsList"
                            class="list-result position-absolute top-100 start-0 end-0 z-3 p-0 overflow-y-scroll border border-black bg-white"
                            style="display:none;"
                        >
                        </ul>
                    </div>
                {% endif %}
                <div class="form-check form-switch col d-flex justify-content-end align-self-center">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="storageFull"
                        {% if storage.full %}checked{% endif %}
                        data-url="{{ path('app_storage_full', {storageId: storage.id}) }}"
                    >
                    <label class="form-check-label ms-2" for="storageFull">{{ storage.name }} est plein</label>
                </div>
            {% endif %}
    </div>
    <div class="row mt-2">
        <table class="col-12 table table-hover table-responsive text-center table-bordered border-black align-middle">
            <thead class="table-dark border-dark">
                {% if collection %}
                    {% set hasRarities = collection.rarities|length > 0 %}
                {% endif %}
                <tr>
                    <th>{{ knp_pagination_sortable(items, 'Nom', 'i.name', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>{{ knp_pagination_sortable(items, 'Référence', 'i.reference', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    {% if collection and hasRarities %}
                        <th>{{ knp_pagination_sortable(items, 'Rareté', 'r.grade', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    {% endif %}
                    <th>{{ knp_pagination_sortable(items, 'Prix', 'i.price', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>{{ knp_pagination_sortable(items, 'Ajouté/Modifié le', 'i.updatedAt', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>Qualité (moyenne)</th>
                    <th style="width:10%;">{{ knp_pagination_sortable(items, 'Quantité', 'i.number', {class: 'link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'}) }}</th>
                    <th>Lien</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <form data-controller="item" id="formFilter" action="{{ absolute_url(path(route, params)) }}" method="get">
                        {% set filterQuery = request.query.all('filter') %}
                        <th><input id="nameFilter" name="filter[name]" class="form-control rounded-0" type="text" value="{{ filterQuery.name ?? '' }}"></th>
                        <th><input id="referenceFilter" name="filter[reference]" class="form-control rounded-0" type="text" value="{{ filterQuery.reference ?? '' }}"></th>
                        {% if collection and hasRarities %}
                            <th>
                                <select id="rarityFilter" name="filter[rarity]" class="form-select rounded-0">
                                    <option value="">---</option>
                                    {% for rarity in collection.rarities %}
                                        <option value="{{ rarity.id }}" {% if filterQuery.rarity is defined and filterQuery.rarity == rarity.id %}selected{% endif %}>{{ rarity.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        {% endif %}
                        <th>
                            <select id="priceFilter" name="filter[price]" class="form-select rounded-0">
                                <option value="">---</option>
                                {% for priceKey, priceValue in prices %}
                                    <option value="{{ priceKey }}" {% if filterQuery.price is defined and filterQuery.price == priceKey %}selected{% endif %}>{{ priceValue }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                        </th>
                        <th>
                            <select id="qualityFilter"name="filter[quality]" class="form-select rounded-0">
                                <option value="">---</option>
                                {% set qualityDefined = filterQuery.quality is defined %}
                                <option value="2" {% if qualityDefined and filterQuery.quality == '2' %}selected{% endif %}>Tous évalués</option>
                                <option value="1" {% if qualityDefined and filterQuery.quality == '1' %}selected{% endif %}>Partiellement évalués</option>
                                <option value="0" {% if qualityDefined and filterQuery.quality == '0' %}selected{% endif %}>Aucun évalué</option>
                            </select>
                        
                        </th>
                        <th>
                            <select id="numberFilter" name="filter[number]" class="form-select rounded-0">
                                <option value="">---</option>
                                {% set numberDefined = filterQuery.number is defined %}
                                <option value="1" {% if numberDefined and filterQuery.number == 1 %}selected{% endif %}>Plusieurs exemplaires</option>
                                <option value="0" {% if numberDefined and filterQuery.number is not null and filterQuery.number == 0 %}selected{% endif %}>Un seul exemplaire</option>
                            </select>
                        </th>
                        <th></th>
                        <th>
                            <a href="{{ path(route, params) }}" class="btn btn-secondary btn-sm rounded-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </a>
                        </th>
                    </form>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in items %}                    
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.reference }}</td>
                        {% if collection and hasRarities %}
                            <td>{% if item.rarity %}{{ item.rarity.name }}{% endif %}</td>
                        {% endif %}
                        <td>{{ item.price|format_currency('EUR', locale='fr') }}</td>
                        <td>{{ item.updatedAt ? item.updatedAt|date('d/m/Y') : item.createdAt|date('d/m/Y') }}</td>
                        <td class="position-relative">
                            {% set qualityAverage = item.qualityAverage %}
                            {{ qualityAverage }}
                            {% set notEvaluatedNumber = item.notEvaluatedNumber %}
                            {% if qualityAverage and notEvaluatedNumber > 0 %}
                                <span
                                    class="position-absolute top-0 end-0 text-danger pe-1"
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="{{ notEvaluatedNumber }}"
                                >
                                    <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
                                </span>
                            {% endif %}
                        </td>
                        <td style="width:2%;">{{ item.number }}</td>
                        <td>
                            {% if item.link %}
                                <a href="{{ item.link }}" target="_blank" class="btn btn-outline-primary btn-sm rounded-0">
                                    <i class="fa-solid fa-link"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary btn-sm" href="{{ path('app_item_view', {id: item.id}) }}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                {% if collection %}
                                    <button
                                        data-url="{{ absolute_url(path('app_item_edit', {collectionId: collection.id, itemId: item.id})) }}"
                                        data-title="{{ 'Modifier "' ~ item.name ~ '"' }}"
                                        class="btn btn-primary btn-sm showModal"
                                    >
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <a href="{{ path('app_item_delete', {id: item.id}) }}" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_storage_remove', {storageId: storage.id, itemId: item.id}) }}" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="9">Il n'y a pas d'objet.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
    {% if collection %}
        {% include "Modal/modal.html.twig" %}
    {% endif %}
</div>
{% endblock %}