{% extends 'base.html.twig' %}
{% block head %}
{% endblock %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="d-flex justify-content-center">
        <h1 class="text-center mb-4">{{ item.name|upper }}</h1>
        {% if item.link %}
            <a href="{{ item.link }}" target="_blank">
                <i class="fa-solid fa-link"></i>
            </a>
        {% endif %}
    </div>

    <div class="container mt-5" data-controller="modal">
        <div class="row justify-content-center border text-center">
            <div class="col">
                <span>Référence :</span>
                <b>{{ item.reference }}</b>
            </div>
            <div class="col">
                <span>Rareté :</span>
                <b>{{ item.rarity.name }}</b>
            </div>
            <div class="col">
                <span>Quantité :</span>
                <b>{{ item.number }}</b>
            </div>
            <div class="col">
                <span>Prix :</span>
                <b>{{ item.price|format_currency('EUR', locale='fr') }}</b>
            </div>
        </div>
        <div class="row my-3">
            <div class="col ps-0">
                <button
                    type="button"
                    class="btn btn-primary showModal rounded-0 me-3"
                    id="showModal"
                    data-url="{{ absolute_url(path('app_item_edit', {itemId: item.id, collectionId: item.collection.id})) }}"
                    data-title="{{ 'Modifier "' ~ item.name ~ '"' }}"
                >
                    Modifier
                </button>
            {% if item.itemQualities|length < item.number %}
                <button
                    type="button"
                    class="btn btn-primary showModal rounded-0"
                    id="showModal"
                    data-url="{{ absolute_url(path('app_item_quality_add', {itemId: item.id})) }}"
                    data-title="Évaluer un exemplaire"
                >
                    Évaluer un exemplaire
                </button>
            {% endif %}
            </div>
        </div>
        {% for itemQuality in item.itemQualities %}
            <div class="row mt-5 mb-3 border border-black" style="height:400px;">
                <div class="col-5 position-relative py-3 text-center border-end border-black mh-100{{ not itemQuality.file ? ' no-image' : ''}}">
                    <div class="sort-item">
                        <h1 class="fw-bold">{{ itemQuality.sort }}</h1>
                    </div>
                    {% if itemQuality.file %}
                        <img class="mh-100" src="{{ file_encoded(itemQuality.file) }}">
                    {% endif %}
                </div>
                <div class="col py-3 position-relative text-bg-dark bg-gradient">
                    <div class="position-absolute top-0 end-0 btn-group">
                        {# <button 
                            type="button"
                            class="btn btn-outline-success showModal rounded-0 border-top-0"
                            id="showModal"
                            data-url="{{ absolute_url(path('app_item_sale_new', {itemId: item.id})) }}"
                            data-title="Mise en vente"
                        >
                            <i class="fa-solid fa-coins"></i>
                        </button> #}
                        <button 
                            type="button"
                            class="btn btn-primary showModal rounded-0"
                            id="showModal"
                            data-url="{{ absolute_url(path('app_item_quality_edit', {itemQualityId: itemQuality.id})) }}"
                            data-title="Évaluer l'objet"
                        >
                            <i class="fa-solid fa-gear"></i>
                        </button>
                    </div>
                    {% if itemQuality.quality is not null %}
                            <div>
                                <h2 class="fw-bold">{{ itemQuality.quality }}/10</h2>
                            </div>
                            {% for criteria in itemQuality.criterias %}
                                <div class="mt-3 border-bottom">
                                    <h3 class="ms-2 mb-1 text-warning">{{ criteria.name }}</h3>
                                    <p class="ms-3 fst-italic">{{ criteria.description }} ({{ criteria.point }} point{% if criteria.point > 1 %}s{% endif %})</p>
                                </div>
                            {% else %}
                                <h3 class="ms-2 mb-1 text-success">Aucun défaut</h3>
                                <p class="ms-3 fst-italic">L'objet est en parfait état.</p>
                            {% endfor %}
                    {% else %}
                        <h2 class="text-center position-absolute start-0 end-0 top-50 translate-middle-y mb-0">Pas encore évalué</h2>
                    {% endif %}
                    {% if itemQuality.storage %}
                        <a
                            class="btn btn-outline-light border-bottom-0 border-end-0 showModal rounded-0 position-absolute bottom-0 end-0"
                            href="{{ absolute_url(path('app_storage_view', {storageId: itemQuality.storage.id}))}} }}"
                        >
                            {{ itemQuality.storage.name }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "Modal/modal.html.twig" %}
{% endblock %}